*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    min-height: 300px;
    border: 1px solid black; 
    margin: auto;
}
.full{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: 60px 300px 300px 60px;
}
.header{
    background-color: black;
    color: white;
    grid-column: 1/4;
    grid-row: 1/2;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sidebar{
    background-color: brown;
    color: white;
    grid-column: 1/2;
    grid-row: 2/4;

    display: flex;
    justify-content: center;
    align-items: center;
}
.content_1{
    background-color: cadetblue;
    color: white;
    grid-row: 2/3;
    grid-column: 2/4;

    display: flex;
    justify-content: center;
    align-items: center;
}
.content2{
    background-color: orchid;
    color: white;
    grid-row: 3/4;
    grid-column: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;
}
.content_3{
    background-color: orange;
    color: white;
    grid-row: 3/4;
    grid-column: 3/4;

    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: black;
    color: white;
    grid-row: 4/5;
    grid-column: 1/4;

    display: flex;
    justify-content: center;
    align-items: center;
}